---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Email with Astro + Nodemailer</title>
  </head>
  <body>
    <h1>Email with Astro + Nodemailer</h1>

    <form action="/actions/send-email" method="post">
      <div>
        <label for="send-email__recipient">To:</label>
        <input type="email" name="recipient" id="send-email__recipient" required />
      </div>
      <div>
        <label for="send-email__subject">Subject:</label>
        <input type="text" name="subject" id="send-email__subject" required />
      </div>
      <div>
        <label for="send-email__message">Message:</label>
        <textarea name="message" id="send-email__message" required></textarea>
      </div>
      <input type="submit" value="Send message" />
    </form>
  </body>
</html>
